@import "tailwindcss";

:root {
  --darkBackground: #0f001ded;
  --lightBackground: #a8b7b7e0;
  --primary: #8200db;
  --gray: #ac95b6;
}

@theme inline {
  --color-darkBackground: var(--darkBackground);
  --color-lightBackground: var(--lightBackground);
  --color-primary: var(--primary);
  --color-gray: var(--gray);
  --font-poppins: var(--font-poppins);
}

/* 
  @media (prefers-color-scheme: dark) {
    :root {
      --darkBackground: #0a0a0a;
      --lightBackground: #ededed;
    }
  } 
*/



/* ---------- basic custom class dark mode tailwind ---------- */
@custom-variant dark (&:where(.dark, .dark *));
@custom-variant light (&:where(.light, .light *));

body {
  /* background: var(--darkBackground); */
  /* color: #fff; */
  font-family: "Poppins", sans-serif;
}





